@import 'bootstrap/bootstrap-grid';

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

  .navbar-inverse {
      background-color: #e77a15;
      width: 81%;
  }

  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #e77a15;
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
      color: #fff;
      background-color: #e77a15;
  }    

  .navbar-toggle .icon-bar:nth-of-type(2) {
  	  top: 1px;
  }

  .navbar-toggle .icon-bar:nth-of-type(3) {
    	top: 2px;
  }

  .navbar-toggle .icon-bar {
  	  position: relative;
  	  transition: all 500ms ease-in-out;
  }

  .navbar-toggle.active .icon-bar:nth-of-type(1) {
  	  top: 6px;
  	  transform: rotate(45deg);
  }

  .navbar-toggle.active .icon-bar:nth-of-type(2) {
  	  background-color: transparent;
  }

  .navbar-toggle.active .icon-bar:nth-of-type(3) {
  	  top: -6px;
  	  transform: rotate(-45deg);
  }
}

.bottomText {
  width: 500px;
}




@media(max-width:768px) {
  h1 {
    font-size: 200px;
    color: red;
  }
}
