@import 'bootstrap/bootstrap-grid';

#slide1 {
  background: url('../images/Perth.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#slide2 {
  background: url('../images/ParkinsonsUK.jpg');  background-repeat: no-repeat;
  background-position: center;
}

#slide3 {
  background: url('../images/Leeds617.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  height: 85vh;
  width: 100%;
}

.bottomText {
  width: 500px;
}


@media (max-width: 979px) {

  #Carousel .item {
    height: 510px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #slide1 {
    background: url('../images/Perth.jpg');
  }

  #slide2 {
    background: url('../images/park550.jpg');
  }

  #slide3 {
    background: url('../images/Leeds617.jpg');
  }
}

// landscape & portrait tablet
@media (max-width: 768px) {

  #Carousel .item {
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 979px) {

  #Carousel .item {
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// large desktop
@media (min-width: 1200px) {

  #Carousel .item {
    height: 85vh;
  }
}




//
// @media only screen
// and (min-device-width : 414px)
// and (max-device-width : 736px) {
//
//   .carousel {
//     width: 126%;
//   }
//
//   .bottomText {
//   width: 185px;
//   font-size: 12px;
//   }
//
//   .carousel-inner>.item>img, .carousel-inner>.item>a>img {
//     height: 23vh;
//     width: 41%;
//     margin-top: 12%;
//   }
//
//   .navbar-inverse {
//       background-color: #e77a15;
//       width: 41%;
//   }
//
//   h1 {
//     width: 41%
//   }
//
//   .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
//     background-color: #e77a15;
//   }
//
//   .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
//       color: #fff;
//       background-color: #e77a15;
//   }
//
//   .navbar-toggle .icon-bar:nth-of-type(2) {
//   	  top: 1px;
//   }
//
//   .navbar-toggle .icon-bar:nth-of-type(3) {
//     	top: 2px;
//   }
//
//   .navbar-toggle .icon-bar {
//   	  position: relative;
//   	  transition: all 500ms ease-in-out;
//   }
//
//   .navbar-toggle.active .icon-bar:nth-of-type(1) {
//   	  top: 6px;
//   	  transform: rotate(45deg);
//   }
//
//   .navbar-toggle.active .icon-bar:nth-of-type(2) {
//   	  background-color: transparent;
//   }
//
//   .navbar-toggle.active .icon-bar:nth-of-type(3) {
//   	  top: -6px;
//   	  transform: rotate(-45deg);
//   }
// }
