<!DOCTYPE html>
<html ng-app="precedentApp">
	<head>
    <base href="/">
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tech Test</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <script>
      $(document).ready(function() {
          $('#Carousel').carousel({
              interval:   200000
          });
      });
    </script>
	</head>

  <body ng-controller="PrecedentCtrl as precedent">
    <div class="container">

      <nav ng-class="{ 'open': main.menuIsOpen }">
        <div class="left">
          <h2>Developed by Adrian Welch</h2>
        </div>
        <div class="right">
          <div class="links">
            <ul>
              <li><a href="http://precedent.com"target="_blank" ui-sref-active="active">Home</a></li>
              <li><a href="http://www.precedent.com/what-we-do"target="_blank" ui-sref-active="active">What We Do</a></li>
              <li><a href="http://www.precedent.com/our-work"target="_blank" ui-sref-active="active">Our Thinking</a></li>
              <li><a href="http://www.precedent.com/our-team"target="_blank" ui-sref-active="active">Our Team</a></li>
              <li><a href=a href="http://www.precedent.com/our-locations"target="_blank" ui-sref-active="active">Our Locations</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="menu" ng-class="{ 'open': main.menuIsOpen }" ng-click="main.menuIsOpen = !main.menuIsOpen">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div id="Carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#Carousel" data-slide-to="1"></li>
                  <li data-target="#Carousel" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner" role="listbox">
                  <div class="item active" id="slide1">
                    <div class="logo"></div>
                    <div class="block"></div>
                      <div class="carousel-caption">
                        <h1>City of Perth</h1>
                        <h2 class="intro">Working closely with the City of Perth marketing team, we will continuously optimise the ever evolving website to ensure it inspires users to visit the city more often.</h2>
                        <a href="http://precedent.com"target="_blank" class="btn wow fadeInUp contactMe" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;">Find out more</a>
                      </div>
                  </div>
                  <div class="item" id="slide2">
                    <div class="logo"></div>
                    <div class="block"></div>
                      <div class="carousel-caption">
                        <h1>Parkinson's UK</h1>
                        <h2 class="intro">We were chosen to design and build a website that would help them better inform the public about Parkinson’s  and dispel the myths surrounding the illness.</h2>
                        <a href="http://precedent.com"target="_blank" class="btn wow fadeInUp contactMe" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;">Find out more</a>
                      </div>
                  </div>
                  <div class="item" id="slide3">
                    <div class="logo"></div>
                    <div class="block"></div>
                      <div class="carousel-caption">
                        <h1>Leeds College of Music</h1>
                        <h2 class="intro">We developed a new website using Kentico Enterprise Marketing Solution putting control back in the hands of the content editors.</h2>
                        <a href="http://precedent.com"target="_blank" class="btn wow fadeInUp contactMe" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeInUp;">Find out more</a>
                      </div>
                  </div>
              </div>
              <!-- Carousel nav -->
              <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
                  <span class="icon-prev" aria-hidden="true"></span>
                  <span class="sr-only"></span>
              </a>
              <a class="right carousel-control" href="#Carousel" data-slide="next">
                  <span class="icon-next" aria-hidden="true"></span>
                  <span class="sr-only"></span>
              </a>
          </div>
        </div>
      </div>
      <footer>
        <div class="row bottom">
          <div class="col-md-8">
            <h3>We're CMS specialists, developing websites using Sitecore, Kentico, Sitefinity, Umbraco and Drupal. We're thought leaders, writing industry reports and articles, and hosting seminars & webinars across the Asia Pacific and the UK. We're passionate about all things digital and our passion is reflected in everything we do.</h3>
          </div>
          <div class="col-md-4 email">
            <h3>Email</h3>
            <form name="form" novalidate>
              <div class="form-group">
                <label>
                  <input class="emailInput form-control" type="email" placeholder="Enter your email" ng-model="user.email" name="input" required="@" />
                </label>
                <br />
                <div ng-show="form.$submitted || form.input.$touched">
                  <span ng-show="form.input.$error.required">Email is required for subscription</span>
                  <span ng-show="form.input.$error.email">This is not a valid email.</span>
                </div>
                <!-- <input type="submit" ng-click="update(user)" value="Save" /> -->
              </div>
            </form>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
